
<p> <%= @article.title %> </p>
<p> <%= @article.description %></p>
<p><%= link_to "Edit the article", edit_article_path %></p>
<p><%= link_to "delete the article", article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %></p>
